.title-bar
  %img
    = image_tag "castle.jpg"
  .centered-title
    %h1 Kingdom of Betrayal Sheets
    %h2 A TTRPG Character Storage Tool
    .confirm-button
      View Sheets

%center
  .body-content
    %h3 All Your KoB Characters in One Place
    %p Never lose track of your Kingdom of Betrayal characters' information again.

    %h4 Features
    %ul
      %li Store unlimited KoB character sheets
      %li Customize stored characters at any time
      %li Attach character images
      %li 100% free
