// Place all the styles related to the static_pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

body.static_pages main.page-content {
  padding: 0;
}

.title-bar {
  position: relative;
  bottom: 3rem;
  text-align: center;
  color: white;
}

.title-bar > img {
  width: 100%;
  position: relative;
  top: 21px;
  background-position: center;
  background-size: cover;
  filter: blur(4px);
  z-index: 0;
}

.centered-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.centered-title h1, .centered-title h2, .centered-title h3, .centered-title img, .apply-button {
  filter: drop-shadow(0 0 5px black);
}

.confirm-button {
  position: relative;
  top: 20px;
  padding: 10px 10% 10px 10%;
  text-decoration: none;
  font-weight: bold;
  border: solid #6d0033 2px;
  border-radius: 5px;
  color: #6d0033;
  background-color: white;
}

.confirm-button:hover {
  color: white;
  background-color: #6d0033;
}

.body-content {
  text-align: left;
  max-width: 1140px;
  padding-left: 15px;
  padding-right: 15px;
}
